.submit-button-green {
    width: auto; 
    height: 35px; 
  
    background-color: #CFFA55; 
    color: black; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 

    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 15px;
    transition: transform 0.3s, opacity 0.3s;
}

.submit-button-green:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.submit-button-grey.image-selected {
    background: #CFFA55;
}

.submit-button-grey {
    width: auto; 
    height: 35px; 
  
    background-color: #f0f0f0; 
    color: black; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 

    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 15px;
    transition: transform 0.3s, opacity 0.3s;
}

.submit-button-grey:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.submit-button-font {  
    color: black; 
    cursor: pointer;

    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 15px;
}

.submit-button-font-18 {  
    color: black; 
    cursor: pointer;

    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 18px;
}

.submit-button-font-thin {  
    color: black; 
    cursor: pointer; 

    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 15px;
}

.submit-button-orange {
    width: auto; 
    height: 35px; 
  
    background-color: #fa9055; 
    color: black; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 

    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 15px;
    transition: transform 0.3s, opacity 0.3s;
}

.submit-button-orange:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.submit-button-cart {
    width: 30px;
  
    background-color: #d9d9d9; 
    color: black; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 

    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 15px;
    transition: transform 0.3s, opacity 0.3s;
}

.submit-button-filter {
    height: 40px; 
  
    background-color: #d9d9d9; 
    color: black; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 

    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    transition: transform 0.3s, opacity 0.3s;
}

.submit-button-filter {
    text-align-last: left;
    text-align: left;
    -moz-text-align-last: left;
}

.submit-button-filter option {
    text-align: left;
    direction: ltr;
}
