.container-page {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    opacity: 0;
    animation: ani 1.5s forwards;
    gap: 30px;
}

.container-single-form {
    display: flex;
    align-items: center;
    min-height: 60vh;
}

.container-menu {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;    
}

.container-menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 26px;
}

.container-icon {
    width: 40px;  
    height: 40px;
    position: relative; 
    display: inline-block;
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
}

.container-icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.tooltip {
    display: none; 
    position: absolute;
    
    left: 50%; 
    transform: translateX(-50%); 
    white-space: nowrap;
    z-index: 5;
}

.container-icon:hover .tooltip {
    display: block;
}

.container-icon-tool {
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
}

.container-icon-tool:hover {
    transform: scale(1.05);
    opacity: 0.8;
}