@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-menu-bar {
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    font-size: 30px;
}

.font-tooltip {
    font-family: 'Montserrat', sans-serif; 
    font-size: 10px;
    font-weight: 300;
    color: black;
}

.font-form-header {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 20px;
}

.font-form-body {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 15px;
}

.font-form-body-error {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    color: #EC5800;
}

.font-container-header {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    font-size: 30px;
}

.font-grid-1 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 25px;
}

.font-grid-2 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 15px;
}

.font-grid-2-bold {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    font-size: 15px;
}