.icon {
    width: 40px;
    height: 40px;
    transition: filter 0.3s ease; /* Плавный переход */
}

.icon-logo {
    width: 80px;
}

/* Стили для активного элемента <a> */
a.active .icon {
    filter: brightness(1.2) invert(0.5);
}